@import "../../global.scss";

.projects{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;



    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;
        z-index: 2;

        &.left{
            left: 100px;
        }

        &.right{
            right: 100px;
            transform: rotateY(180deg);
        }

        @include mobile{
            display: none;
        }

    }

    .arrowContainer{
        position: absolute;
        display: flex;
        width: 80px;
        height: 80px;
        background-color: ghostwhite;
        z-index: 1;
        border-radius: 50px;

        &.left{
            left: 77px;
        }

        &.right{
            right: 77px;
        }

        @include mobile{
            display: none;
        }

    }
    

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease;

        @include mobile{
            height: 100vh;
            flex-direction:column;
            justify-content: center;
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile{
                    height: 150px;
                    width: 80%;
                    margin: 10px 0;
                }

                .left{
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            border-color: rgb(253, 186, 162);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        h2{
                            font-size: 20px;

                            @include mobile{
                                font-size: 15px;
                            }
                        }
                        p{
                            font-size: 13px;
                            font-weight: 700;
                            text-align: justify;

                            @include mobile{
                                display: none;
                            }
                        }
                        span{
                            font-size: 12px;
                            font-weight: 700;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }

                .right{
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 400px;
                        transform: rotate(-10deg);
                        overflow: hidden;
                    }
                }
            }
        }



    }
}